// ------------------ 列表布局 --------------------
.list-layout {
  height: calc(100vh - 94px);
  overflow: hidden;
  margin: var(--layout-margin);
  border-radius: var(--border-radius);
}

// ------------------ 列表查询 --------------------
.list-search {
  width: 100%;
  padding: 14px 14px 0px 14px;
  background-color: #fff;
  margin-bottom: var(--layout-margin);

  .ant-form {
    display: inline-flex;
    flex-wrap: wrap;
    width: inherit;
  }
  .ant-form-item {
    margin-bottom: 20px;
  }
  .ant-form-item-label {
    flex-basis: 80px;
  }
  .ant-form-item {
    flex: calc(100% / 3) 1 0;
    padding-right: 20px;
    min-width: 280px;
    max-width: calc(100% / 3);
  }

  .hidden {
    display: none;
  }

  &-btns {
    text-align: right;

    .ant-btn {
      margin-left: 10px;
    }
    &.ant-form-item {
      max-width: initial;
      align-items: end;
    }
  }
}

// ------------------ 列表表格 --------------------
.list-table {
  height: calc(100vh - 222px);
  width: inherit;
  background-color: #fff;
  padding: var(--layout-padding);

  .ant-table-wrapper {
    height: calc(100vh - 337px);
    border: 1px solid var(--border-color);
    overflow: hidden;
  }
}
